<section id="services" class="section-dark">
    <div class="container">
        Handyman services -Building all Brand of Flat Pack Items -Painting -Laminate Flooring Laying -Curtains Fitting, TV Brackets, Shelves and many more -please email or call to make your enquiry Plumbing Service -Emergency plumbing -Leaking pipes -Leaking
        Waste pipes -Burst pipes -Tap service -Refitting radiators -Refittingfaulty stop clock -Please email or call to make enquiry -Sorry i do not service gas Boilers as i am not gas certified Projects -Kitchen Renovations -Bathroom Renovations -House
        Refurbishment -Custom build sliding door fitting -Custom build shelves, shoe cabinet etc -Please email or call to make any project enquiry -Sorry i do not do construction work. Eg Brick laying, building outdoor extension, etc.
    </div>
</section>